html {
  height: 100%;
}

body {
  background-image: url("https://cdn.dribbble.com/users/319473/screenshots/4111136/reinvently_insights_3.0.gif");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#piano-tiles {
  border: 7px solid rgba(100, 0, 255, 0.7);
  border-radius: 20px;
  margin-left: 39%;
  margin-top: 1%;
}

#title,
h1 {
  text-align: center;
}
