html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#piano-tiles {
  /* border: 1px solid black; */
  margin-left: 37%;
  /* margin-top: 5%; */
}

#title {
  text-align: center;
}
