html {
  height: 100%;
}

body {
  background-image: url("https://cdn.dribbble.com/users/319473/screenshots/4111136/reinvently_insights_3.0.gif");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Verdana, sans-serif;
}

#title,
h2 {
  text-align: center;
}

#piano-tiles {
  border: 7px solid rgba(100, 0, 255, 0.5);
  border-radius: 20px;
  padding: 0;
  margin: auto;
  padding: 0;
  display: block;
}

button {
  background-color: rgba(100, 0, 255, 0.5);
  border: none;
  padding: 10px 30px;
  width: 15%;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  bottom: 50;
  left: 5;
}

button:focus {
  outline: 0;
}

button:hover {
  color: rgba(0, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

#classic {
  margin-top: 2%;
  margin-left: 70%;
}

#zen {
  margin-top: 6%;
  margin-left: 70%;
}

#classic:focus,
#zen:focus {
  background-color: rgba(145, 92, 182, 0.4);
}

#counter {
  color: rgba(0, 255, 255, 0.9);
  font-size: 35px;
}

#timer {
  color: rgba(200, 255, 255, 0.9);
  font-size: 30px;
}

.about {
  display: flex;
  justify-content: flex-end;
  align-content: space-between;
}

.about a {
  color: white;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 5px;
  background-color: rgba(100, 0, 255, 0.5);
  border-radius: 4px;
}
